{% extends "layout.html" %}
    {% block body %}
    <!-- <br>
    <br>
    <br>
    <br> -->
    <Section id="bbcsec">
      
      <h1>
        Welcome to Our Project Bye Bye Covid
      </h1>
      <p>
        Bye Bye Covid is our third project. It was initiated by  Subhayan Saha,Mayukesh Roy and Saptak Majumdar and made by Saptak Majumdar and Suvayan Saha. This is a very simple game. Players have to touch the vaccine and if the virus toches them , they will lose the game. 
        Code of the game:
        <br>
        Kiran:
        <div class="container">
            <img src="..\static\K1.png" alt=""  class="Img">
             
        </div>
        <div class="container">
          <img src="..\static\K2.png" alt="" class="Img"> 
        </div>
        <p>
           Virus:
        </p>
           
        
            <img src="..\static\v.png" alt="" class="Img">

            <br>
            
                <p>
                    Vaccine:
                 </p>
                    
                 
                     <img src="..\static\vc.png" alt="" class="Img">
           
            
              </p>
    </Section>
{% endblock %}
