{% extends "layout.html" %}
    {% block body %}
    <!-- <br>
    <br>
    <br>
    <br> -->
    <Section>
      
      <h1>
        Welcome to Scratch Reasearch Organisation
      </h1>
      <p>
        SRO(Scratch Reasearch Organisation) is a group of 5 programmers Mayurkesh, Saptak, Shaurya, Subhojit and Subhayan. This group is made to improve our skiils.We  make group projects, help each other in their personal projects and share our personal experiences.Some projects made by our members:
        <br>
        <ul>
          <li>
            Pong game(Subhojit Sengupta)
          </li>
          
          <li>

            Catch the red dot!(Subhojit Sengupta)
          </li>
          <li>
            Pong Master(Subhayan Saha)  

          </li>
          <li>
            Traffic Light(Subhojit Sengupta) 

          </li>
          <li>

            Costume Animation(Subhayan Saha) 
          </li>
          <li>
            Cat Flier(Subhayan Saha)

          </li>
          <li>

            Covaxin(Saptak Majumdar)
          </li>
          <li>

            Calculator(Subhayan Saha)
          </li>
          <li>
            Snake Game(Saptak Majumdar)

          </li>
          <li>

            Cat Game(Saptak Majumdar)
          </li>
          <li>

            Traffic Light(Saptak Majumdar)
          </li>
          <li>
            Calculator(Saptak Majumdar)
          </li>
        </ul>
      </p>
    </Section>
  {% endblock %}
