{% extends "layout.html" %}
    {% block body %}
    <Section class="contact-box">
        <h1>Sorry, You have entered wrong Id/Password. Enter it correctly to login.
        </h1>
      <form action=".\Index" method="post">
        <div class="form-group">
          <input type="text" name="Id" id="id" placeholder="Enter your Id">
        </div>
        <div class="form-group">
          <input type="text" name="password" id="password" placeholder="Enter your Password">
        </div>
        <center>

          <button class="btn1">Submit</button>
        </center>

        
      </form>
    </Section>
{% endblock %}