{% extends "layout.html" %}
    {% block body %}
    <section id="othsec">
        <p>
            <h1>
                Important Members And co Founders:
            </h1>
            <ul>
                <li > <a href=".\ss" style="@media only screen and (max-width:1092px) {font-size: 0.75rem;}">Subhayan Saha</a></li>
                <li > <a href=".\sm" style="@media only screen and (max-width:1092px) {font-size: 0.75rem;}">Saptak Majumdar</a></li>
                <li > <a href=".\sss" style="@media only screen and (max-width:1092px) {font-size: 0.75rem;}">Subhojit Sengupta</a></li>
                <li > <a href=".\mr" style="@media only screen and (max-width:1092px) {font-size: 0.75rem;}">Mayurkesh Roy</a></li>
                <li > <a href=".\sc" style="@media only screen and (max-width:1092px) {font-size: 0.75rem;}">Shaurya Chatterjee</a></li>
            </ul>
        </p>
    </section>
{% endblock %}