{% extends "layout.html" %}
    {% block body %}
    <section id="othsec">
      <p>
        Name - Mayurkesh Roy <br>
Class - VI <br>
Section - G <br>
DOB - 19.10.2011 <br>
Interests - Gaming and programming <br>
Hobbies - Gaming and programming <br>
<!-- Projects - Snake Game, Covaxin, Cat Game, Traffic Light, Various Shapes in Scratch <br>
 -->Other known languages - Python, Html, Q-basic <br>
Scratch Version - 3.0 <br>
<!-- Projects in other languages - Calculator(Python), Calculator(C), Tokyo Olmpics Logo(Python), Various Shapes(Python), Music Player(Html, CSS, JS), Codetutor advertising website(Html, CSS, JS), Calculator(Html, CSS, JS). -->
      </p>
    </section>
{% endblock %}
