{% extends "layout.html" %}
    {% block body %}
    <!-- <br>
    <br>
    <br>
    <br> -->
    <Section id="sgsec">
      
      <h1>
        Welcome to Our First Project
      </h1>
      <p>
        Snake game is our first project. It was initiated by Subhojit Sengupta, Subhayan Saha and Saptak Majumdar and made by Saptak Majumdar and Subhojit Sengupta. This is  a very simple game. Players have to eat the apple and if they touch the edge they will lose the game. 
        Code of the game:
        <br>
        Snake:
        <div class="container">
            <img src="..\static\S1.png" alt=""  class="Img">
             
        </div>
        <div class="container">
          <img src="..\static\S2.png" alt="" class="Img"> 
        </div>
        <p>
           Apple:
        </p>
           
        
            <img src="..\static\A.png" alt="" class="Img">
       
              </p>
    </Section>
 {% endblock %}
