{% extends "layout.html" %}
    {% block body %}
    <section id="othsec">
      <p>
        Name - Saptak Majumdar <br>
Class - VI <br>
Section - E <br>
DOB - 29.12.2011 <br>
Interests - Singing and programming <br>
Hobbies - Singing and programming <br>
Projects - Snake Game, Covaxin, Cat Game, Traffic Light, Various Shapes in Scratch <br>
Other known languages - Python, Html, Css, JS, C, Q-basic <br>
Scratch Version - 3.0 <br>
Projects in other languages - Calculator(Python), Calculator(C), Tokyo Olmpics Logo(Python), Various Shapes(Python), Music Player(Html, CSS, JS), Codetutor advertising website(Html, CSS, JS), Calculator(Html, CSS, JS).
      </p>
    </section>
{% endblock %}
