{% extends "layout.html" %}
    {% block body %}
    <section id="othsec">
      <p>
        Name - Subhayan Saha  <br>
        Class - VI <br>
        Section - E <br>
        Roll no. - 42 <br> 
        School - DAV Model School <br>
        Interests - Recitation,Programming <br> 
        Hobbies - Playing football,Programming <br>
        Projects - Pong Master,Cat Flier,Costume Animation,Glide Animation,Calculator,Various Shapes  <br>
        Other known languages - Python, Html , Q-basic <br>
        Scratch Version - 3.0 
      </p>
    </section>
{% endblock %}