{% extends "layout.html" %}
    {% block body %}
    <!-- <br>
    <br>
    <br>
    <br> -->
    <Section id="bbcsec">
      
      <h1>
        Welcome to Our Project T42
      </h1>
      <p>
        T42 is our forth project. It was initiated by Saptak Majumdar, Subhojit Sengupta and Shaurya Chatterjee and made by Subhojit Sengupta , Saptak Majumdar and Shaurya Chatterjee. This is a very simple shape. Img of the shape:
        <br>
        
            <img src="..\static\A44.png" alt="" class="Img"> 
        <br>
        Code of the shape:
        <br>
        
        
        <!-- <div class="container"> -->
          <img src="..\static\T1.png" alt="" class="Img"> 
        
        
         
        </p>
    </Section>
{% endblock %}
